{
  "extends": ["eslint-config-airbnb-base", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/prop-types": 0,
    "react/jsx-indent": 0,
    "react/jsx-tag-spacing": 0,
    "react/jsx-no-bind": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-first-prop-new-line": 0,
    "react/jsx-indent-props": 0,
    "react/jsx-closing-bracket-location": 0,
    "react/no-multi-comp": 0,
    "react/sort-comp": 0,
    "react/no-string-refs": 0,
    "react/no-find-dom-node": 0,
    "class-methods-use-this": 0,
    "consistent-return": 2,
    "object-curly-newline": [2, { "consistent": true }],
    "no-confusing-arrow": [2, {"allowParens": true}],
    "no-unused-vars": 0,
    "no-trailing-spaces": [2, { "skipBlankLines": true }],
    "function-paren-newline": [2, "consistent"],
    "import/prefer-default-export": 0,
    "no-plusplus": 0,
    "comma-dangle": [2, "only-multiline"],
    "strict": 0,
    "eol-last": 0,
    "padded-blocks": 0,
    "indent": [2, 4],
    "max-len": [2, 160],
    "no-console": 0,
    "eqeqeq": 0,
    "semi": 0,
    "no-unused-expressions": [2, {"allowShortCircuit": true, "allowTernary": true}],
    "linebreak-style": [2, "windows"],
    "quote-props": 0 //对象字面量中的属性名是否强制双引号
  }
}
