@import ../../styles/theme

.article-list
    .article-list-item
        padding: 20px
        background: $white
        border-radius: 5px
        & + .article-list-item
            margin-top: 10px
    .ant-list-vertical
        .ant-list-item-meta-avatar
            display: block
            margin-right: 10px
        .ant-list-item-meta-title
            font-size: 14px
            font-weight: 100
    .ant-list-item-meta
        margin-bottom: 0
    .article-list-content
        font-weight: 600
        font-size: 16px
    .article-list-extra
        margin-bottom: 10px