@import ../../styles/theme

.footer
    p
        display: flex
        align-items: center
        justify-content: center
        & + p
            margin-top: 5px
        img
            width: 20px
            height: 20px
            margin-right: 10px
