@import ../../styles/theme

.footer
  p
    display: flex
    align-items: center
    justify-content: center

    & + p
      margin-top: 5px

    i
      width: 20px
      height: 20px
      display: inline-block
      background: url("../../img/beian.png")
      background-size: 100%
      margin-right: 10px

    a
      &:hover
        color: $red-9
