@import ../../styles/theme

.com-header
  height: 60px
  background: $color245
  position: fixed
  z-index: 1000
  width: 100%
  top: 0

  .nav
    width: 60%
    height: 100%
    margin: 0 auto

    .nav-left
      .nav-logo
        a
          display: inline-block
          overflow: hidden

          .title
            position: relative
            display: inline-block
            font-size: 20px
            line-height: 26px
            animation: logoShow 0.6s linear

            @keyframes logoShow
              from
                top: -26px
                opacity: 0

              50%
                top: -26px
                opacity: 0

              to
                top: 0
                opacity: 1

          .line
            display: block
            width: 75%
            margin: 0 auto
            overflow: hidden

            i
              display: block
              width: 100%
              height: 2px
              background: $color102
              position: relative

              &.line-before
                animation: lineBefore 0.3s linear

              &.line-after
                animation: lineAfter 0.3s linear

              @keyframes lineBefore
                from
                  left: -100%

                to
                  left: 0

              @keyframes lineAfter
                from
                  right: -100%

                to
                  right: 0

      .nav-menu
        margin-left: 40px

        a
          padding-right: 20px

          &.active
            color: $red

          &:hover
            color: $red

          i
            font-size: 14px

          span
            margin-left: 5px

    .nav-right
      .login
        span
          cursor: pointer

          &:hover
            color: $red

          & + span
            margin-left: 10px

      .login-ed
        padding: 0 10px
        height: 60px

        &:hover
          cursor: pointer
          background: $red-1

        i
          display: inline-block
          width: 30px
          height: 30px
          border-radius: 50%
          background-size: 100%
          background-image: url("../../img/nav-user.jpg")
          margin-right: 10px
