@import ../../styles/theme

.com-login
    .login-tab
        font-size: 16px
        text-align: center
        margin-bottom: 30px

        i
            padding: 8px
            display: inline-block

        span
            padding: 8px
            cursor: pointer
            display: inline-block

            &:hover
                border-bottom: 2px solid $red

            &.active
                color: $red
                border-bottom: 2px solid $red

    .register-form, .login-form
        li
            width: 180px
            position: relative

            & + li
                margin-top: 10px

            &:last-of-type
                margin-top: 20px
