@import "../../styles/theme"
.admin-managerArticle
    section
        margin-top: 20px
        .article-cell
            height: 80px
            display: flex
            .aboutArticle
                flex: 6
                display: flex
                flex-direction: column
                justify-content: center
                p
                    &+p
                        margin-top: 10px
                    &.info
                        color: $color102
                        font-size: 12px
                        span
                            margin-right: 10px
                            display: inline-block
                            &.author
                                width: 80px
                            &.readCount
                                width: 70px
            .state
                flex: 1
                display: flex
                align-items: center
            .operation
                flex: 3
                display: flex
                align-items: center
                justify-content: space-around
                .btn
                    width: 70px
