@import "../../styles/theme"
.admin-managerUser
    section
        margin-top: 20px
    .managerUser-operation
        a
            margin-right: 10px
            cursor: pointer
            &:hover
                color: $red