@import ../../styles/theme

.admin-managerUser
    section
        margin-top: 20px
        .row
            background: $white

.dialog-authority
    text-align: center

    input[type="radio"]
        margin-right: 5px

    .user
        margin-right: 20px
