@import ../styles/theme

.route-visitor
    min-height: 100vh
    .route-header
        padding: 0
        background: $white
    .route-content
        padding: 0 50px
        margin: 50px 0
    .route-footer
        background: $white
