@import "../../styles/theme"
.zyc-button
    font-size: 12px
    display: inline-block
    text-align: center
    border-radius: 5px
    cursor: pointer
    width: 80px
    height: 30px
    &.primary
        border: 1px solid $color204
        background: transparent
    &:hover
        background: $red-1


