@import "../../styles/theme"
.zyc-menu
    width: 140px
    border-radius: 5px
    border: 1px solid $color233
    .zyc-menu-item
        height: 30px
        padding-left: 10px
        cursor: pointer
        &:hover
            background: $red-1
        i
            margin-right: 5px
            position: relative
            top: 2px

        span
